{
    "env": {
        "browser": true,
        "serviceworker": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "emotion/syntax-preference": [2, "string"],
        "semi": [2, "never"],
        "no-console": "warn"
    },
    "plugins": ["emotion", "react"],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "modules": true
        }
    }
}
